@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 20px 10px;
}

.top {
    margin-bottom: 15px;
}

img {
    width: 500px;
    height: 400px;
}

ul {
    padding: 0;
    margin: 0;
}


.sep {
    width: 2px;
    background-color: rgba(0, 0, 0, 0.044);
    margin: 0px 32px;
}
.image-container {
    position: relative;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px 16px;
}

/*

.image-container::after {
    content: '';
    position: absolute;
    border-left: 1px solid black;
    right: -20px;
    top: 15px;
    height: 100%;
}
 */
.image-id {
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    padding: 5px;
}

.d-flex.flex-column.gap-3 {
    margin-left: 20px;
}

.flex-grow-1 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.caption-title{
    font-size: 24px;
    font-weight: bold;
}

.result-container {
    width: 85%;
    border-radius: 15px;
    padding: 16px;
    background-color: rgba(172, 255, 172, 0.992);
}


.result {
    font-size: 1.1rem;
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="number"],
select {
    font-size: 1.1em;
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}